/* Import fonts */
@font-face {
    font-family: 'norsebold';
    src: url('../fonts/norse-bold.woff2') format('woff2'),
         url('../fonts/norse-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Declare variables */
:root{
    --page-margin: 40%;
    --content-offset: 3em;
}

body{
    background-color: rgb(247, 247, 247);
    font-family: sans-serif;
}

#bg-img{
    position: absolute;
    width: var(--page-margin);
    height: 100%;
}

#logo-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: #00000075;
    width: var(--page-margin);
    height: 10em;
}

#logo{
    width: 15%;
    height: auto;
}

#logo-text{
    font-family: 'norsebold', sans-serif;
    color: white;
    font-size: 8em;
}

#margin-footer{
    position: absolute;
    color: white;
    bottom: 0;
    width: var(--page-margin);
    display: flex;
    justify-content: center;
}

a{
    color: white;
}

#content-container{
    margin-left: var(--page-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#head-container{
    width: 80%;
    margin-top: 8em;
    margin-bottom: 3em;
    margin-left: var(--content-offset);
}

#form-container{
    width: 100%;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 0 3px 3px rgb(0, 0, 0, 0.5);
}

#form-header, form{
    margin-left: var(--content-offset);
}

section{
    display: flex;
    gap: 90px;
    margin-top: 30px;
}

.form-text{
    display: flex;
    flex-direction: column;
    width: 20em;
}

#form-footer{
    margin-left: var(--content-offset);
    margin-top: 2rem;
}
#form-footer a{
    color: green;
    text-decoration: none;
    font-weight: bold;
}